<!DOCTYPE html>
<html lang="en">
   <head>
      <title>{{ page.title }}</title>
      <!-- Bootstrap core CSS -->
      <link href="css/bootstrap.css" rel="stylesheet">
   </head>
   <body>
      <!-- Navigation -->
      <nav class="navbar navbar-default">
         <div class="container">
            <a class="navbar-brand" href="./index.html">MAINT 2019</a>
            <div class="collapse navbar-collapse" id="navbarResponsive">
               <ul class="navbar-nav ml-auto">
               <ul class="nav navbar-nav">
                  <li><a href="./">Welcome</a></li>
                  <li><a href="call-for-papers.html">Call for Papers</a></li>
                  <li><a href="./submission.html">Submission</a></li>
                  <li><a href="./team.html">Team</a></li>
               </ul>
            </div>
         </div>
      </nav>
      <!-- Page Content -->
      <div class="container">
         <!-- Heading Row -->
         <img src="images/banner.jpg" class="img-responsive" alt="The Second International Workshop on Mining and Analyzing Interaction Histories (MAINT 2019)">
         <div class="photo-credit">
            Image credits: <a href="https://en.wikipedia.org/wiki/West_Lake">Wikipedia</a>
         </div>
         <div class="row">
            <div class="col-md-8" role="main">
{{ content }}
            </div>
            <div class="col-md-4">
               <div class="panel panel-info">
                  <div class="panel-heading">
                     <h3 class="panel-title">News</h3>
                  </div>
                  <div class="panel-body">
                     <table class="table table-striped table-hover">
                       <tbody>
                        <tr>
                           <th width="30%">2018-10-29</th>
                           <td>Call for Papers and Important Dates are fixed!</td>
                        </tr>
                        <tr>
                           <th width="30%">2018-10-24</th>
                           <td>Website is open!</td>
                        </tr>
                      </tbody>
                   </table>
                  </div>
               </div>
            </div>
            <div class="col-md-4">
               <div class="panel panel-danger">
                  <div class="panel-heading">
                     <h3 class="panel-title">Important Dates</h3>
                  </div>
                  <div class="panel-body">
                     <table class="table table-striped table-hover">
                       <tbody>
                         <tr>
                           <td><strong>Paper submission:</strong></td>
                           <td>December 14, 2018 (AOE)</td>
                         </tr>
                         <tr>
                            <td><strong>Grace Period:</strong></td>
                            <td>December 17, 2018 (AOE)</td>
                          </tr>
                         <tr>
                           <td><strong>Notification:</strong></td>
                           <td>January 11, 2019</td>
                         </tr>
                         <tr>
                           <td><strong>Camera ready:</strong></td>
                           <td>January 22, 2019</td>
                         </tr>
                         <tr>
                           <td><strong>Workshop:</strong></td>
                           <td>February 24, 2019</td>
                         </tr>
                      </tbody>
                   </table>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Footer -->
    <footer class="footer">
      <div class="container">
      </div>
    </footer>
      <!-- Bootstrap core JavaScript -->
      <script src="bootstrap.min.js"></script>
   </body>
</html>
